
task3/.vagrant/machines/sftp1/virtualbox/action_provision
task3/.vagrant/machines/sftp1/virtualbox/action_set_name
task3/.vagrant/machines/sftp1/virtualbox/box_meta
task3/.vagrant/machines/sftp1/virtualbox/creator_uid
task3/.vagrant/machines/sftp1/virtualbox/id
task3/.vagrant/machines/sftp1/virtualbox/index_uuid
task3/.vagrant/machines/sftp1/virtualbox/private_key
task3/.vagrant/machines/sftp1/virtualbox/synced_folders
task3/.vagrant/machines/sftp1/virtualbox/vagrant_cwd
task3/.vagrant/machines/sftp2/virtualbox/action_provision
task3/.vagrant/machines/sftp2/virtualbox/action_set_name
task3/.vagrant/machines/sftp2/virtualbox/box_meta
task3/.vagrant/machines/sftp2/virtualbox/creator_uid
task3/.vagrant/machines/sftp2/virtualbox/id
task3/.vagrant/machines/sftp2/virtualbox/index_uuid
task3/.vagrant/machines/sftp2/virtualbox/private_key
task3/.vagrant/machines/sftp2/virtualbox/synced_folders
task3/.vagrant/machines/sftp2/virtualbox/vagrant_cwd
task3/.vagrant/machines/sftp3/virtualbox/action_provision
task3/.vagrant/machines/sftp3/virtualbox/action_set_name
task3/.vagrant/machines/sftp3/virtualbox/box_meta
task3/.vagrant/machines/sftp3/virtualbox/creator_uid
task3/.vagrant/machines/sftp3/virtualbox/id
task3/.vagrant/machines/sftp3/virtualbox/index_uuid
task3/.vagrant/machines/sftp3/virtualbox/private_key
task3/.vagrant/machines/sftp3/virtualbox/synced_folders
task3/.vagrant/machines/sftp3/virtualbox/vagrant_cwd
task3/.vagrant/rgloader/loader.rb
task3/id_rsa
task3/id_rsa.pub
task3/logs/sftp1_connection_log.txt
task3/logs/sftp2_connection_log.txt
task3/logs/sftp3_connection_log.txt
task3/outputs/chart_count_sftp1.png
task3/outputs/chart_count_sftp2.png
task3/outputs/chart_count_sftp3.png
task3/outputs/chart_interval_sftp1.png
task3/outputs/chart_interval_sftp2.png
task3/outputs/chart_interval_sftp3.png
task3/slim.report.json
ClassScheduleDevOpsProject/apache-tomcat-9.0.100-deployer.tar.gz
ClassScheduleDevOpsProject/dump.rdb
ClassScheduleDevOpsProject/first.txt
ClassScheduleDevOpsProject/2024-08-19.dump
ClassScheduleDevOpsProject/first.txt
